@font-face {
  font-family: inter700;
  src: url(../fonts/Inter/static/Inter_24pt-Bold.ttf);
}
@font-face {
  font-family: inter600;
  src: url(../fonts/Inter/static/Inter_24pt-SemiBold.ttf);
}
@font-face {
  font-family: inter500;
  src: url(../fonts/Inter/static/Inter_24pt-Medium.ttf);
}
@font-face {
  font-family: inter400;
  src: url(../fonts/Inter/static/Inter_24pt-Regular.ttf);
}
@font-face {
  font-family: inter800;
  src: url(../fonts/Inter/static/Inter_24pt-ExtraBold.ttf);
}

:root {
  --primary-color: #4caf4f; /* Moviy */
  --naturalgrey-color: #717171; /* Yashil */
  --headers-color: #4d4d4d; /* To‘q kulrang */
  --navbar-color: #18191f;
  --black-color: #000000;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  border: none;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  padding: 1.4rem 3.2rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: inter500;
  background-color: var(--primary-color);
  color: #ffff;
}
.hide {
  display: none !important;
}

.name-user {
  margin-left: 10.5rem;
  display: flex;
  gap: 8px;
  justify-content: start;
  align-items: center;
  line-height: 3.6rem;
  font-size: 2.4rem;
  font-family: inter600;
  color: var(--headers-color);
  b {
    color: var(--primary-color);
  }
}

h1 {
  font-family: inter600;
  font-size: 6rem;
  line-height: 7.6rem;
  letter-spacing: 0%;
  color: #4D4D4D;
}