.pixelgrade-section {
  display: flex;
  width: 82%;
  margin: 0 14.4rem;
}
.herouz-section {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}
.pixelgrade-image {
  display: flex;
  width: 50%;
  img {
    width: auto;
    height: auto;
  }
}
.pixelgrade-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1.6rem;
}
.pixelgrade-title {
  font-family: inter600;
  font-size: 3.6rem;
  line-height: 4.4rem;
  color: #444;
}

.pixelgrade-text {
  line-height: 2rem;
  font-size: 1.4rem;
  font-family: inter400;
  color: #666;
}

.btn-learn-more {
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn-learn-more:hover {
  background-color: #45a049;
}
