/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f5f7fa;
    color: #333;
    line-height: 1.6;
} */
.hero-section {
  width: 82%;
  display: flex;
  padding: 0rem 14.4rem;
  justify-content: space-between;
}
.muyassar-container {
  /* max-width: 1200px;
  margin: 0 auto; */
  /* padding: 0 20px; */
  /* display: flex; */
  /* width: 100%; */
}

/* First Section Styles */
.herouz-section {
  /* padding: 80px 0; */
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-image {
  width: 50%;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

.hero-content {
  width: 50%;
  /* display: flex; */
  /* flex-direction: column; */
}

.pixelgrade-title {
  font-family: inter600;
  font-size: 3.6rem;
  line-height: 4.4rem;
  color: #444;
  margin-bottom: 2rem;
}

.hero-text {
  line-height: 2rem;
  font-size: 1.4rem;
  font-family: inter400;
  color: #666;
  margin-bottom: 3rem;
}

.btn-learn-more {
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn-learn-more:hover {
  background-color: #45a049;
}
