/* .section-statistic {
  display: flex;
  width: 82%;
  align-items: center;
  justify-content: center;
}
.comment-statistic {
  p {
    font-size: 3.6rem;
    line-height: 4.4rem;
    font-family: inter600;
    color: var(--naturalgrey-color);
    span {
      color: var(--primary-color);
    }
  }
} */
/* .section-statistic {
  display: flex;
  width: 82%;
  align-items: center;
  justify-content: center;
}
.comment-statistic {
  p {
    font-size: 3.6rem;
    line-height: 4.4rem;
    font-family: inter600;
    color: var(--naturalgrey-color);
    span {
      color: var(--primary-color);
    }
  }
} */

/* Second Section Styles */
.stats-section {
  padding: 80px 0;
  background-color: #f9f9f9;
}

.stats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.stats-content {
  width: 40%;


}

.stats-title {
  font-size: 36px;
  margin-bottom: 10px;
  line-height: 44px;
}

.stats-subtitle {
  font-size: 28px;
  color: #4CAF50;
  margin-bottom: 20px;
}

.stats-text2 {
  color: #666;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

}

.stats-grid {
  width: 55%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.stat-item {
  display: flex;
  align-items: center;
}

.stat-icon {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4CAF50;
  font-size: 24px;
}

.stat-icon2 {
  width: 48px;
  height: 48px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4CAF50;
  font-size: 24px;
}

.stat-info {
  flex: 1;
}

.stat-number {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.stat-label {
  color: #666;
  font-size: 14px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
  }

  .hero-image,
  .hero-content {
    width: 100%;
  }

  .hero-image {
    margin-bottom: 30px;
  }

  .stats-container {
    flex-direction: column;
  }

  .stats-content,
  .stats-grid {
    width: 100%;
  }

  .stats-content {
    margin-bottom: 40px;
    text-align: center;
  }

  .stats-grid {
    grid-template-columns: 1fr;
  }
}